<!DOCTYPE html>
<html>
  <meta charset="UTF-8" ; />
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>
    let baseUrl = "http://localhost:<%= port %>/<%= backendPath %>";
    let contents = `
        <h1>yconnect-cli</h1>
        <p>Terminal shows a result. </p>
    `;

    function main() {
      let url =
        baseUrl + "?callback_url=" + encodeURIComponent(window.location.href);
      axios
        .get(url)
        .then(function (response) {
          document.write(contents);
        })
        .catch(function (error) {
          document.write(contents);
        });
    }

    window.onload = main;
  </script>
</html>
