<!DOCTYPE html>
<html>
  <meta charset="UTF-8" ; />
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>
    let baseUrl = "http://localhost:<%= port %>/<%= backendPath %>";
    let closeTimeoutSec = "<%= windowCloseTimeoutSec %>";
    let contents = `
        <p>Terminal shows a result. </p>
        <p>Automatically close this tab after ${closeTimeoutSec} seconds.</p>
    `;

    function onResponse(response) {
      document.write(contents);
      setTimeout(function () {
        window.close();
      }, closeTimeoutSec * 1000);
    }

    function main() {
      let url =
        baseUrl + "?callback_url=" + encodeURIComponent(window.location.href);
      axios
        .get(url)
        .then(function (response) {
          onResponse(response);
        })
        .catch(function (error) {
          onResponse(response);
        });
    }

    window.onload = main;
  </script>
</html>
